doctype html
html
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        title Cookies 
        //link(rel='icon' href='/favicon.png')
        //link(rel='preload' as='font' type='font/woff2', crossorigin, href='https://cdn.auth0.com/styleguide/core/2.0.1/fonts/fakt/FaktPro-Normal.woff2')
        link(rel='stylesheet' href='/stylesheets/ecom-style.css')
    body
        .div
            .grid
                .box
                    a(href='/')
                        h1 AtkoGreen
                //- .box(class='text-wrapper-2') Home 2
                //- .box(class='text-wrapper-3') Products 3
                //- .box(class='text-wrapper-3') Contacts 4
                .box(class='text-wrapper-2')
                    ul(class='menu-list')
                        li
                            a(href='/') Home 
                        li Products 
                        li Contact
                        li 
                            a(href='/logout') Logout
                .box
                    img(class="img" alt="Cart" src="/images/cart.svg")
                .box(class='text-wrapper-2')
                    if user
                        p Hello, 
                            a(href='/user')=user.name
                        //- img(class="img" alt="Person" src="/images/person.svg")
                    else
                        a(href='/login') Log In
                //- .box
                //-     img(class="line" alt="Line" src="/images/line-1.svg")
                //-     | 5
                //- .box
                //-     img(class="img" alt="Filter right" src="/images/filterright.svg")
                //-     | 6

            block content
            
            .home-page
                .about-us
                    .frame-19
                        .frame-20
                            .text-wrapper-10 About us
                            p(class="text-wrapper-11") Order now and appreciate the beauty of nature
                        .frame-21
                            .frame-20
                                .frame-22
                                    .img-wrapper
                                        img(class="img-2" alt="Vector" src="/images/vector-1.svg")
                                    .text-wrapper-12 Large Assortment
                                p(class="text-wrapper-13") we offer many different types of products with fewer variations in each category.
                            .frame-20
                                .frame-22
                                    .img-wrapper
                                        img(class="img-2" alt="Vector" src="/images/vector.svg")
                                    .text-wrapper-12 Fast &amp; Free Shipping
                                p(class="text-wrapper-13") 4-day or less delivery time, free shipping and an expedited delivery option.
                            .frame-20
                                .frame-22
                                    .img-wrapper
                                        img(class="img-2" alt="Telephone outbound" src="/images/telephoneoutbound.svg")
                                    .text-wrapper-12 24/7 Support
                                p(class="text-wrapper-13") answers to any business related inquiry 24/7 and in real-time.
