extends layout

block content
  .content
    h4 My Purchases
    table.styled-table
      thead
        tr
          each key in Object.keys(purchases[0])
            th
              strong=key
        each purchase in purchases
          tbody
            tr
              each key in Object.keys(purchase)
                td=purchase[key]
