.about-us
    .frame-19
        .frame-20
            .text-wrapper-10 About us
            p(class="text-wrapper-11") Order now and appreciate the beauty of nature
        .frame-21
            .frame-20
                .frame-22
                    .img-wrapper
                        img(class="img-2" alt="Vector" src="/static/images/vector-1.svg")
                    .text-wrapper-12 Large Assortment
                p(class="text-wrapper-13") we offer many different types of products with fewer variations in each category.
            .frame-20
                .frame-22
                    .img-wrapper
                        img(class="img-2" alt="Vector" src="/static/images/vector.svg")
                    .text-wrapper-12 Fast &amp; Free Shipping
                p(class="text-wrapper-13") 4-day or less delivery time, free shipping and an expedited delivery option.
            .frame-20
                .frame-22
                    .img-wrapper
                        img(class="img-2" alt="Telephone outbound" src="/static/images/telephoneoutbound.svg")
                    .text-wrapper-12 24/7 Support
                p(class="text-wrapper-13") answers to any business related inquiry 24/7 and in real-time.
