.home-page
    .div
        .landing-page
            .text-wrapper AtkoGreen
                .frame
                    .text-wrapper-2 Home
                    .text-wrapper-3 Products
                    .text-wrapper-3 Contacts
                .frame-2
                    img(class="img" alt="Cart" src="/static/images/cart.svg")
                    img(class="img" alt="Person" src="/static/images/person.svg")
                    img(class="line" alt="Line" src="/static/images/line-1.svg")
                    img(class="img" alt="Filter right" src="/static/images/filterright.svg")
