extends layout.pug

block content
    .home-page
        .hero
            .overlap
                .frame-4
                    .frame-5
                        h1(class="h-1") Buy your dream plants
                        .frame-6
                            .frame-7
                                .text-wrapper-4 50+
                                .text-wrapper-5 Plant Species
                            img(class="line-2" alt="Line" src="/static/images/line-2.svg")
                            .frame-7
                                .text-wrapper-4 100+
                                .text-wrapper-5 Customers
                    .frame-8
                        p(class="p") What are you looking for?
                        .overlap-group
                            img(class="search" alt="Search" src="/static/images/search.svg")
            .overlap-2
                .rectangle
                img(class="unsplash" alt="Unsplash" src="/static/images/unsplash-claaxa4dsnc-removebg-preview-1.png")
        .frame-9
            .frame-10
                .text-wrapper-6 Best Selling Plants
                p(class="text-wrapper-7") Easiest way to healthy life by buying your favorite plants
            .frame-11
                .text-wrapper-2 See more
                img(class="arrow-right" alt="Arrow right" src="/static/images/arrowright.svg")
        .frame-12
            .frame-13
            .frame-14
                .text-wrapper-2 Natural Plants
                .text-wrapper-8 $100.00
                a.buy-now(href='/cart') Buy Now
        .frame-15
            .frame-16
            .frame-14
                .text-wrapper-2 Artificial Plants
                .text-wrapper-8 $100.00
                a.buy-now(href='#') Buy Now
        .frame-17
            .frame-18
            .frame-14
                .text-wrapper-2 Artificial Plants
                .text-wrapper-8 $100.00
                a.buy-now(href='#') Buy Now
<<<<<<< HEAD:app/views/home.pug
=======
        //- .about-us
        //-     .frame-19
        //-         .frame-20
        //-             .text-wrapper-10 About us
        //-             p(class="text-wrapper-11") Order now and appreciate the beauty of nature
        //-         .frame-21
        //-             .frame-20
        //-                 .frame-22
        //-                     .img-wrapper
        //-                         img(class="img-2" alt="Vector" src="/images/vector-1.svg")
        //-                     .text-wrapper-12 Large Assortment
        //-                 p(class="text-wrapper-13") we offer many different types of products with fewer variations in each category.
        //-             .frame-20
        //-                 .frame-22
        //-                     .img-wrapper
        //-                         img(class="img-2" alt="Vector" src="/images/vector.svg")
        //-                     .text-wrapper-12 Fast &amp; Free Shipping
        //-                 p(class="text-wrapper-13") 4-day or less delivery time, free shipping and an expedited delivery option.
        //-             .frame-20
        //-                 .frame-22
        //-                     .img-wrapper
        //-                         img(class="img-2" alt="Telephone outbound" src="/images/telephoneoutbound.svg")
        //-                     .text-wrapper-12 24/7 Support
        //-                 p(class="text-wrapper-13") answers to any business related inquiry 24/7 and in real-time.
>>>>>>> main:src/web-app/views/home.pug
